.hero-container{
    .hero-image{
        background-image: linear-gradient(rgba(26, 26, 26, 0.5), 
        rgba(26, 26, 26, 0.5)), 
        url("../../images/hero.png");
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        z-index: -1;
        .hero-content{
            display: flex;
            justify-content: center;
            margin: 10em;
            color: #ffffff;
            .hero-item{
                h1{
                    margin: 0px;
                    font-size: 6vw;
                   font-weight: lighter;
                }
                .item-paragraph{
                    max-width: 25vw;
                    margin: auto;
                    p{
                        font-size: 1.5vw;
                        padding: 0px;
                        margin: 0px;
                        font-weight: lighter;                       
                    }
                    
                }
                .item-button{
                    margin-top: 5%;
                    text-align: center;
                    input{
                   
                        border: none;
                        padding:3% 7%;
                        background-color: red;
                        color: white;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
}